<div class="main-card mb-3 card no-shadow rm-border bg-transparent widget-chart">
  <div class="card-body">
    <h5 class="card-title">
      <strong>VALIDER RETRAIT ARGENT</strong>
    </h5>
    <div class="divider"></div>
    <div class="row">
      <div class="col-12" style="text-align: center">
        <div class="search-wrapper" [class.active]="true">
          <div class="input-holder">
            <input type="text" #input_id_client placeholder="Entrez un identifiant du client.." class="search-input">
            <button (click)="checkClient(input_id_client, content)"  class="search-icon"><span></span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
<div *ngIf="!is_client_found" class="main-card mb-3 card">
  <div *ngIf="chargement" class="mt-5 mb-5" style="text-align: center;">
    <img src="./assets/images/gifs/en_cours.gif" width="100px" border="0">
    <br>
    Chargement de données en cours..
  </div>
  <div *ngIf="!chargement" class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <strong>DEMANDES DE RETRAIT</strong>
      <button (click)="refresh()"
              class="btn-icon btn-icon-only  btn btn-outline-success float-right">
        <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="table">
      <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
        <thead>
        <tr>
          <th class="text-center text-muted">#</th>
          <th class="text-center">ID Client</th>
          <th class="text-center">Nom</th>
          <th class="text-center">Prenom</th>
          <th class="text-center">Username</th>
          <th class="text-center">Pacts</th>
          <th class="text-center">Total</th>
          <th class="text-center">Montant remis</th>
          <th class="text-center">Frais retrait</th>
          <th class="text-center">Opérateur</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let profile of all_profiles_client ; let i = index">
          <td class="text-center">{{i+1}}</td>
          <td class="text-center">{{profile.identifiant}}</td>
          <td class="text-center">{{profile.nom}}</td>
          <td class="text-center">{{profile.prenom}}</td>
          <td class="text-center">{{profile.username}}</td>
          <td class="text-center">{{profile.niveau_adhesion}}</td>
          <td class="text-center">{{profile.montant}}</td>
          <td class="text-center">{{profile.montant_remis}}</td>
          <td class="text-center">{{profile.frais_retrait}}</td>
          <td class="text-center">{{profile.operateur}}</td>
          <td class="text-center">
            <button class="btn-shadow btn btn-primary" (click)="valider_retrait(profile, content, content2)">
              Valider retrait
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h5 class="text-center">Valider le retrait pour le compte <strong>{{currentRetrait.username}}</strong> ?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="validerRetrait(content, c('Close click'))">Oui</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Non</button>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{message}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>
