<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <strong>RETRAITS PRODUIT</strong>
      <button (click)="refresh()"
              class="btn-icon btn-icon-only  btn btn-outline-success float-right">
        <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div *ngIf="chargement" class="mt-5 mb-5" style="text-align: center;">
    <img src="./assets/images/gifs/en_cours.gif" width="100px" border="0">
    <br>
    Chargement de données en cours..
  </div>
  <div *ngIf="!chargement" class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">ID Client</th>
        <th class="text-center">Nom</th>
        <th class="text-center">Prenom</th>
        <th class="text-center">Profile</th>
        <th class="text-center">Produit</th>
        <th class="text-center">Quantité</th>
        <th class="text-center">Date</th>
        <th class="text-center">Opérateur</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let retrait of retraits; let i = index">
        <td class="text-center text-muted" style="width: 80px;">{{i+1}}</td>
        <td class="text-center">{{retrait.identifiant}}</td>
        <td class="text-center">{{retrait.nom}}</td>
        <td class="text-center">{{retrait.prenom}}</td>
        <td class="text-center">{{retrait.username}}</td>
        <td class="text-center">{{retrait.designation}}</td>
        <td class="text-center">{{retrait.quantite}}</td>
        <td class="text-center">{{retrait.date}}</td>
        <td class="text-center">{{retrait.operateur}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

