<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">GERER STOCK</h5>
    <form [formGroup]="updateStockageForm" (ngSubmit)="updateStockage()">
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group"><label for="exampleSelect">Opérations</label>
            <select
                    formControlName="operation" id="exampleSelect" class="form-control">
              <option>Entrée</option>
              <option>Sortie</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group"><label for="quantite">Quantité</label><input
                  formControlName="quantite" id="quantite" placeholder="10000" type="number"
                  class="form-control"></div>
        </div>
      </div>
      <button class="mt-2 btn btn-primary float-right" [disabled]="updateStockageForm.invalid">Entrée/Sortie</button>
    </form>
  </div>
</div>


