<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <strong>LISTE DES UTILISATEURS</strong>
            <button (click)="refresh()"
                    class="btn-icon btn-icon-only  btn btn-outline-success float-right">
                <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div *ngIf="chargement" class="mt-5 mb-5" style="text-align: center;">
        <img src="./assets/images/gifs/en_cours.gif" width="100px" border="0">
        <br>
        Chargement de données en cours..
    </div>
    <div *ngIf="!chargement" class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-sm table-striped table-borderless table-hover">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Username</th>
                <th class="text-center">Prenom</th>
                <th class="text-center">Nom de famille</th>
                <th class="text-center">Téléphone</th>
                <th class="text-center">Service</th>
                <th class="text-center">Niveau</th>
                <th class="text-center">Bureau</th>
                <th class="text-center">Ajouté par</th>
                <th class="text-center">Date</th>
                <th class="text-center">Etat</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let utilisateur of utilisateurs; let i = index">
                <td class="text-center text-muted" style="width: 80px;">{{i + 1}}</td>
                <td class="text-center text-wrap">{{utilisateur.username}}</td>
                <td class="text-center text-wrap">{{utilisateur.prenom}}</td>
                <td class="text-center text-wrap">{{utilisateur.nom}}</td>
                <td class="text-center text-wrap">{{utilisateur.telephone}}</td>
                <td class="text-center text-wrap">{{utilisateur.service === 'retrait' ? 'Retrait Produit': utilisateur.service}}</td>
                <td class="text-center text-wrap">{{utilisateur.type_user}}</td>
                <td class="text-center text-wrap">{{utilisateur.bureau}}</td>
                <td class="text-center text-wrap">{{utilisateur.ajoute_par}}</td>
                <td class="text-center text-wrap">{{utilisateur.dateformat}}</td>
                <td class="text-center">
                    <div [class]="'badge badge-pill' + (utilisateur.etat==1 ? ' badge-success' : ' badge-danger')">{{utilisateur.etat == 1 ? 'actif' : 'inactif'}}</div>
                </td>
                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <button style="margin-right: 5px;" class="btn-shadow btn btn-primary"
                                [routerLink]="'/utilisateurs/' + utilisateur.id + '/update'">Modifier
                        </button>
                    </div>
                </td>
            </tr>
            <div class="row mt-5">
                <div class="col-12 divider mt-2"></div>
            </div>
            </tbody>
        </table>
    </div>
</div>


