<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">EFFECTUER PAIEMENT [ID PROFILE: {{idprofile}}]</h5>
    <form [formGroup]="newPaiementForm" (ngSubmit)="newPaiement(content)">

      <div class="form-row">
        <div class="col-6">
          <div class="form-row">
            <div class="col-md-12">
              <div class="position-relative form-group"><label for="inscription">Montant Inscription</label><input
                      #inscription
                      formControlName="inscription"
                      (keyup)="k_inscription(inscription)"
                      id="inscription"
                      type="text"
                      class="form-control">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <div class="position-relative form-group"><label for="trading">Montant Trading</label><input
                      #trading
                      (keyup)="k_trading(trading)"
                      formControlName="trading" id="trading" placeholder="" type="text"
                      class="form-control"></div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-row">
            <div class="col-md-12">
              <div class="position-relative form-group"><label for="frais_inscription">Frais Inscription (15% Montant Inscription)</label><input
                      formControlName="frais_inscription" id="frais_inscription" placeholder="" type="text" readonly
                      class="form-control" [disabled]="true" [value]="frais_inscription"></div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group"><label for="frais_trading">Frais Trading (15% Montant Trading)</label><input
                      formControlName="frais_trading" id="frais_trading" placeholder="" type="text" readonly
                      class="form-control" [disabled]="true" [value]="frais_trading"></div>
            </div>
            </div>
          </div>
        </div>
      <button class="mt-2 btn btn-primary float-right" [disabled]="newPaiementForm.invalid">Effectuer Paiement
      </button>
    </form>

  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{message}}</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
  </div>
</ng-template>


