<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">MOUVEMENT DU STOCK</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Produit</th>
        <th class="text-center">Quantité</th>
        <th class="text-center">Opération</th>
        <th class="text-center">Date Opération</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stockage of stockages; let i = index">
        <td class="text-center text-muted" style="width: 80px;">#{{i}}</td>
        <td class="text-center">{{stockage.id_produit}}</td>
        <td class="text-center">{{stockage.quantite}}</td>
        <td class="text-center">{{stockage.operation}}</td>
        <td class="text-center">{{stockage.date_operation}}</td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary" routerLink="/stockages/update">Modifier</button>
            <button [routerLink]="'/stockages/' + stockage.id + '/stockage'">Détails Stockage</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
