<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">MODIFIER UTILISATEUR</h5>
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="username">Nom d'utilisateur</label>
                        <input formControlName="username"
                               id="username"
                               type="text"
                               [value]="utilisateur.username"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="password">Password</label><input
                            formControlName="password" id="password" type="text" [value]="utilisateur.pwd"
                            class="form-control"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="exampleSelect">Services</label>
                        <select formControlName="service" id="exampleSelect" class="form-control">
                          <option [value]="utilisateur.service" selected [disabled]="true">{{utilisateur.service}}</option>
                            <option value="adhesion">Adhésion</option>
                            <option value="comptabilite">Comptabilité</option>
                            <option value="retrait">Retrait</option>
                            <option value="technique">Technique</option>
                            <option value="stock">Gestion de stock</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="droits">Type utilisateur</label>
                        <select formControlName="droits" id="droits" class="form-control">
                            <option value="2">Utilisateur simple</option>
                            <option value="3">Administrateur</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="mt-2 btn btn-primary float-right" [disabled]="updateUserForm.invalid">Modifier utilisateur
            </button>
        </form>
    </div>
</div>
