<div class="main-card mb-3 card" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="card-body"><h5 class="card-title">
        <strong>MODIFIER UTILISATEUR</strong>
        <button class="btn btn-danger float-right">
            Supprimer
        </button>
    </h5>
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUser(content)">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group"><label for="prenom">Prenom</label><input
                            formControlName="prenom"
                            id="prenom"
                            type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group"><label for="nom">Nom de famille</label><input
                            formControlName="nom"
                            id="nom"
                            type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group"><label for="telephone">Téléphone</label><input
                            formControlName="telephone"
                            id="telephone"
                            type="text"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="username">Nom d'utilisateur</label><input
                            formControlName="username"
                            id="username"
                            type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="password">Password</label><input
                            formControlName="password" id="password" type="text"
                            class="form-control"></div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group"><label for="type_user">Type utilisateur</label>
                        <select formControlName="type_user" id="type_user" class="form-control" #type_user>
                            <option value="USER">Utilisateur</option>
                            <option value="ADMIN">Administrateur</option>
                            <option *ngIf="authService.currentUser.type_user === 'SUPADMIN'" value="SUPADMIN">Super
                                administrateur
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group"><label for="bureau">Bureau</label>
                        <select formControlName="bureau" id="bureau" class="form-control">
                            <option *ngIf="authService.currentUser.type_user === 'ADMIN'" [value]="authService.currentUser.bureau" selected>{{authService.currentUser.bureau}}</option>
                            <option *ngIf="authService.currentUser.type_user === 'SUPADMIN'" value="Lubumbashi">Lubumbashi</option>
                            <option *ngIf="authService.currentUser.type_user === 'SUPADMIN'" value="Kasumbalesa">Kasumbalesa</option>
                            <option *ngIf="authService.currentUser.type_user === 'SUPADMIN'" value="Likasi">Likasi</option>
                            <option *ngIf="authService.currentUser.type_user === 'SUPADMIN'" value="Kolwezi">Kolwezi</option>
                            <option *ngIf="authService.currentUser.type_user === 'SUPADMIN'" value="Kinshasa">Kinshasa</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group"><label for="service">Services</label>
                        <select formControlName="service" id="service" #service class="form-control">
                            <option  selected>Service de l'utilisateur</option>
                            <option *ngIf="type_user.value !== 'USER'" value="admin">Administration</option>
                            <option *ngIf="type_user.value === 'USER'" value="adhesion">Adhésion</option>
                            <option *ngIf="type_user.value === 'USER'" value="comptabilite">Comptabilité</option>
                            <option *ngIf="type_user.value === 'USER'" value="retrait">Retrait Produit</option>
                            <option *ngIf="type_user.value === 'USER'" value="technique">Technique</option>
                            <option *ngIf="type_user.value === 'USER'" value="transfert">Transfert de point</option>
                            <option *ngIf="type_user.value === 'USER'" value="profile-enligne">Profile en ligne</option>
                        </select>
                        <span class="text-muted">{{service.value}}</span>
                    </div>
                </div>

            </div>
            <button class="mt-2 btn btn-primary float-right" [disabled]="updateUserForm.invalid" type="submit">Modifier
                utilisateur
            </button>
        </form>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{message}}</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
    </div>
</ng-template>
