<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">
            <strong>CREER PROFILE  [{{this.username}}]</strong>
        </h5>
        <form [formGroup]="newProfileForm" (ngSubmit)="newProfile(content)">

            <div class="form-row">
                <div class="col-6">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group"><label for="username">Nom d'utilisateur</label><input
                                    formControlName="username"
                                    id="username"
                                    [disabled]="true"
                                    readonly
                                    placeholder="Cette information sera fournie par le technicien"
                                    type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group"><label for="username_parain">Username du compte parain</label><input
                                    formControlName="username_parain"
                                    id="username_parain"
                                    placeholder="Username du compte qui paraine"
                                    type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group"><label for="exampleSelect">Niveau d'adhésion</label>
                                <select #vip (change)="choix_patcs(vip.value)"
                                        formControlName="niveau_adhesion" id="exampleSelect" class="form-control">
                                    <option *ngFor="let pact of all_pacts" [value]="pact.niveau">VIP-{{pact.niveau}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="position-relative form-group"><label for="produit_adhesion">Produit d'adhesion</label>
                                <select
                                        formControlName="produit_adhesion"
                                        id="produit_adhesion" class="form-control">
                                    <option *ngFor="let produit of produits_by_pact" [value]=produit.designation>{{produit.designation}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="position-relative form-group"><label for="capital">Montant d'inscription</label><input
                                    formControlName="capital" id="capital" placeholder="" type="text" readonly
                                    class="form-control" [disabled]="true" [value]="ct_inscription"></div>
                        </div>
                        <div class="col-md-12" *ngIf="trading_state!==0">
                            <div class="position-relative form-group"><label for="activation_compte">Montant Trading</label><input
                                    formControlName="activation_compte" id="activation_compte" placeholder="" type="text" readonly
                                    class="form-control" [disabled]="true" [value]="cout_trading"></div>
                        </div>
                        <div class="col-md-12" *ngIf="trading_state!==0">
                            <div class="position-relative form-group"><label for="activation_trading">Coût total (Inscription + Trading)</label><input
                                    formControlName="activation_trading" id="activation_trading" placeholder="" type="text" readonly
                                    class="form-control" [disabled]="true" [value]="cout_total"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="mt-2 btn btn-primary float-right" [disabled]="newProfileForm.invalid">Ajouter profile
            </button>
        </form>

    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{message}}</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
    </div>
</ng-template>

