    <div class="row">
      <div class="col-4">
        <h5>
          <strong>COMPLETION DE PROFILE</strong>
        </h5>
      </div>
      <div class="col-6">
        <div class="float-right card no-shadow rm-border bg-transparent widget-chart">
          <div class="search-wrapper" [class.active]="true">
            <div class="input-holder">
              <input type="text" id="id_client" type="text"
                      #input_id_client placeholder="Lister profiles d'un client" class="search-input">
              <button (click)="rechercher(input_id_client, content)"  class="search-icon">
                <span></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="divider"></div>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div *ngIf="!is_client_found" class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <strong>PROFILES INCOMPLETS</strong>
      <button (click)="refresh()"
              class="btn-icon btn-icon-only  btn btn-outline-success float-right">
        <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
      </button>
    </div>
    <div *ngIf="is_client_found" class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <strong>PROFILES INCOMPLETS [{{current_client.identifiant}} | {{current_client.prenom}} {{current_client.nom}}] </strong>
      <button (click)="refresh()"
              class="btn-icon btn-icon-only  btn btn-outline-success float-right">
        <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div *ngIf="chargement" class="mt-5 mb-5" style="text-align: center;">
    <img src="./assets/images/gifs/en_cours.gif" width="100px" border="0">
    <br>
    Chargement de données en cours..
  </div>
  <div *ngIf="!chargement" class="table table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">ID Client</th>
        <th class="text-center">Nom</th>
        <th class="text-center">Prenom</th>
        <th class="text-center">Username</th>
        <th class="text-center">Pacts</th>
        <th class="text-center">Mot de passe</th>
        <th class="text-center">Parain</th>
        <th class="text-center">Status</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let profile of all_profiles_client ; let i = index">
        <td class="text-center">{{profile.identifiant}}</td>
        <td class="text-center">{{profile.nom}}</td>
        <td class="text-center">{{profile.prenom}}</td>
        <td class="text-center">{{profile.username}}</td>
        <td class="text-center">VIP-{{profile.niveau_adhesion}}</td>
        <td class="text-center">{{profile.password}}</td>
        <td class="text-center">{{profile.username_parain}}</td>
        <td class="text-center">
          <div [class]="'badge badge-pill' + (profile.etat==1 ? ' badge-warning' : (profile.etat==2 ? ' badge-success': ' badge-danger'))">
            {{profile.etat==1 ? 'incomplet' : (profile.etat==2) ? 'actif' : 'inactif'}}</div>
        </td>
        <td class="text-center">
          <button class="btn-shadow btn btn-primary" (click)="completer_profile(profile, content, content2)">
            Completer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Completer ce profile</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="completerProfileForm" (ngSubmit)="completion(content, c('Close click'))">
      <div class="form-row">
        <div class="col-md-12">
          <div class="position-relative form-group"><label for="username">Nom d'utilisateur</label>
            <input
                    formControlName="username" id="username" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <button class="mt-2 btn btn-primary float-right" type="submit" [disabled]="completerProfileForm.invalid">Valider
      </button>
    </form>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{message}}</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
  </div>
</ng-template>

