<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class=""><h3 style="font-weight: bold; font-family: 'Roboto', 'sans-serif'">CHYMALL</h3></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Main Navigation</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="dashboardMenu">
                <ng-template ngbPanelHeader>
                  <a class="vsm-link" routerLink="/">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Tableau de bord</span>
                    <i class="vsm-arrow"></i>
                  </a>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="gestionClient">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Gestion Clients</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item"><a routerLink="/clients/new"
                                               class="vsm-link"><span
                        class="vsm-title">Nouveau client</span></a>
                      </div>
                      <div class="vsm-item"><a routerLink="/clients/all"
                                               class="vsm-link"><span
                              class="vsm-title">Liste clients</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pagesProfile">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Gestion Profiles</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/profiles/visualiser" class="vsm-link"><span
                                class="vsm-title">Visualiser</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/profiles/all" class="vsm-link"><span
                                class="vsm-title">Activation & Trading</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/profiles/completer" class="vsm-link"><span
                                class="vsm-title">Completer ID profile</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/profiles/technique" class="vsm-link"><span
                                class="vsm-title">Technique</span></a>
                      </div>
                      <div class="divider"></div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/profiles/enligne" class="vsm-link"><span
                                class="vsm-title">Profile en ligne</span></a>
                      </div>
                      <div class="divider"></div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/profiles/rapport" class="vsm-link"><span
                                class="vsm-title">Rapport</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pagesProduits">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Gestion Produits</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/produits/new" class="vsm-link"><span
                          class="vsm-title">Nouveau produit</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/produits/all" class="vsm-link"><span
                                class="vsm-title">Liste produits</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/stockages/all" class="vsm-link"><span
                                class="vsm-title">Liste stockages</span></a>
                      </div>
                      <div class="vsm-item divider">
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/retrait-produits/new" class="vsm-link"><span
                          class="vsm-title">Effectuer retrait</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/retrait-produits/all" class="vsm-link"><span
                                class="vsm-title">Liste retraits</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <ngb-panel id="pagesRetrait">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Retrait Argent</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/retraits/demande/new" class="vsm-link"><span
                                class="vsm-title">Demander retraits</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/retraits/demande/all" class="vsm-link"><span
                                class="vsm-title">Liste de demandes</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/retraits/new" class="vsm-link"><span
                                class="vsm-title">Validation retraits</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/retraits/all" class="vsm-link"><span
                                class="vsm-title">Liste retraits</span></a>
                      </div>
                      <div class="divider"></div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/retraits/rapport" class="vsm-link"><span
                                class="vsm-title">Rapport</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pagesPacts">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Gestion de pacts</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pacts/all" class="vsm-link"><span
                                class="vsm-title">Patcs</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pagesUsers">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Gestion Utilisateurs</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/utilisateurs/new" class="vsm-link"><span
                                class="vsm-title">Ajouter Utilisateur</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/utilisateurs/all" class="vsm-link"><span
                                class="vsm-title">Liste Utilisateurs</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pagesActivity">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Journal d'activités</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/activites" class="vsm-link"><span
                                class="vsm-title">Listes Activités</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
