<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <strong>TOUTES LES ACTIVITES</strong>
      <button (click)="refresh()"
              class="btn-icon btn-icon-only  btn btn-outline-success float-right">
        <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div *ngIf="chargement" class="mt-5 mb-5" style="text-align: center;">
    <img src="./assets/images/gifs/en_cours.gif" width="100px" border="0">
    <br>
    Chargement de données en cours..
  </div>
  <div *ngIf="!chargement" class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="">#</th>
        <th lass="">Utilisateurs</th>
        <th lass="">Opérations</th>
        <th class="">Table</th>
        <th class="">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let operation of operations ; let i = index">
        <td class=" text-muted" style="width: 80px;">{{i+1}}</td>
        <td class="">{{operation.auteur_operation}}</td>
        <td class="">{{operation.operation}}</td>
        <td class="">{{operation.table}}</td>
        <td class="">{{operation.date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
