<div class="row">
  <div class="col-12">
    <div class="float-right card no-shadow rm-border bg-transparent widget-chart">
        <div class="search-wrapper" [class.active]="true">
          <div class="input-holder">
            <input #recherche type="text" placeholder="Rechercher un client" class="search-input">
            <button (click)="rechercher(recherche, content)" class="search-icon"><span></span></button>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <strong>LISTES DE MEMBRES</strong>
      <button (click)="refresh()"
              class="btn-icon btn-icon-only  btn btn-outline-success float-right">
        <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div *ngIf="chargement" class="mt-5 mb-5" style="text-align: center;">
    <img src="./assets/images/gifs/en_cours.gif" width="100px" border="0">
    <br>
    Chargement de données en cours..
  </div>
  <div *ngIf="!chargement" class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-sm table-striped table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Identifiant</th>
        <th class="text-center">Prénom et Nom</th>
        <th class="text-center">Téléphone</th>
        <th class="text-center">Email</th>
        <th class="text-center">Adresse</th>
        <th class="text-center">Date</th>
        <th class="text-center">Status</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients ; let i = index">
        <td class="text-center text-muted" style="width: 80px;">{{client.identifiant}}</td>
        <td class="text-center text-wrap">{{client.prenom}} {{client.nom}}</td>
        <td class="text-center text-wrap">{{client.telephone}}</td>
        <td class="text-center text-wrap">{{client.email}}</td>
        <td class="text-center text-wrap">{{client.adresse}}</td>
        <td class="text-center">{{client.date_ajout}}</td>

        <td class="text-center">
          <div [class]="'badge badge-pill' + (client.etat==1 ? ' badge-success' : ' badge-danger')">{{client.etat==1 ? 'actif' : 'inactif'}}</div>
        </td>
        <td class="text-center">
          <div class="mb-2 mr-2 btn-group" ngbDropdown>
            <button type="button" ngbDropdownToggle class="dropdown-toggle-split btn btn-primary"><span class="sr-only">Toggle Dropdown</span></button>
            <div ngbDropdownMenu>
              <a class="dropdown-item"
                 [routerLink]="'/profiles/' + client.id + '/' + client.identifiant +'/new'">
                Ajouter Profile
              </a>
              <a class="dropdown-item"
                 [routerLink]="'/profiles/' + client.id + '/' + client.identifiant +'/all'">
                Afficher Profile
              </a>
              <a class="dropdown-item"
                 [routerLink]="'/clients/' + client.id + '/update'">
                Modifier Client
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr><td colspan="9"><div class="col-12 mt-5"></div></td></tr>
      <tr><td colspan="9"><ngb-pagination  class="d-flex justify-content-center"
                       (pageChange)="onPageChange($event)"
                       [collectionSize]="nb_pages * 10" [(page)]="page" [maxSize]="5" [rotate]="true"
                                           [boundaryLinks]="true"></ngb-pagination></td></tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h4 class="text-center">{{message}}</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
  </div>
</ng-template>

