<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">LISTES DE CLIENTS</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th lass="text-center">Prénom</th>
        <th lass="text-center">Nom</th>
        <th class="text-center">Téléphone</th>
        <th class="text-center">Ville</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients ; let i = index">
        <td class="text-center text-muted" style="width: 80px;">{{client.id}}</td>
        <td class="text-center">{{client.prenom}}</td>
        <td class="text-center">{{client.nom}}</td>
        <td class="text-center">{{client.telephone}}</td>
        <td class="text-center">{{client.ville}}</td>
        <td class="text-center">{{client.zip}}</td>
        <td class="text-center">
          <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-primary" data-offstyle="outline-secondary">
        </td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary" routerLink="profiles/new">Ajouter Profile</button>
            <button class="btn-shadow btn btn-primary" [routerLink]="'profiles/' + client.id + '/profile'">Afficher Profile</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
