<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">LISTES DE CLIENTS</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Avatar</th>
        <th lass="text-center">Prénom</th>
        <th lass="text-center">Nom</th>
        <th class="text-center">Téléphone</th>
        <th class="text-center">Email</th>
        <th class="text-center">Adresse</th>
        <th class="text-center">Adresse2</th>
        <th class="text-center">Ville</th>
        <th class="text-center">Pays</th>
        <th class="text-center">Code Postal</th>
        <th class="text-center">Statut</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center text-muted" style="width: 80px;">#</td>
        <td class="text-center" style="width: 80px;">
          <img width="40" class="rounded-circle" src="./assets/images/avatars/1.jpg" alt="">
        </td>
        <td class="text-center">Gloire</td>
        <td class="text-center">KAFWALUBI</td>
        <td class="text-center">0974621121</td>
        <td class="text-center">gkafwalubi@gmail.com</td>
        <td class="text-center">11, Kampemba prolongee</td>
        <td class="text-center">Bel Air, Kampemba</td>
        <td class="text-center">Lubumbashi</td>
        <td class="text-center">RDC</td>
        <td class="text-center">71105</td>
        <td class="text-center">
          <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-primary" data-offstyle="outline-secondary">
        </td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary">Hire</button>
            <button class="btn-shadow btn btn-primary">Fire</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
