<div class="main-card mb-3 card no-shadow rm-border bg-transparent widget-chart">
    <div class="card-body">
        <h5 class="card-title">
            <strong>RETRAIT PRODUIT</strong>
        </h5>
        <div class="divider"></div>
        <div class="row">
            <div class="col-12" style="text-align: center">
                <div class="search-wrapper" [class.active]="true">
                    <div class="input-holder">
                        <input type="text" #input_id_client placeholder="Entrez un identifiant du client.." class="search-input">
                        <button (click)="rechercher(input_id_client, content)"  class="search-icon"><span></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
<div *ngIf="is_client_found" class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <strong>PROFILES DU CLIENT</strong>
            <button (click)="refresh()"
                    class="btn-icon btn-icon-only  btn btn-outline-success float-right">
                <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div *ngIf="chargement" class="mt-5 mb-5" style="text-align: center;">
        <img src="./assets/images/gifs/en_cours.gif" width="100px" border="0">
        <br>
        Chargement de données en cours..
    </div>
    <div *ngIf="!chargement" class="table-responsive">
        <div *ngIf="is_client_found" class="table">
            <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
                <thead>
                <tr>
                    <th class="text-center text-muted">#</th>
                    <th class="text-center">ID Client</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Prenom</th>
                    <th class="text-center">Nom d'utilisateur</th>
                    <th class="text-center">Pacts</th>
                    <th class="text-center">Produit Adhesion</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let profile of all_profiles_client ; let i = index">
                    <td class="text-center">{{i+1}}</td>
                    <td class="text-center">{{profile.identifiant}}</td>
                    <td class="text-center">{{profile.nom}}</td>
                    <td class="text-center">{{profile.prenom}}</td>
                    <td class="text-center">{{profile.username}}</td>
                    <td class="text-center">{{profile.niveau_adhesion}}</td>
                    <td class="text-center">{{profile.produit_adhesion}}
                    <td class="text-center">
                        <div class="mb-2 mr-2 btn-group" ngbDropdown>
                            <button [disabled]="profile.etat_activation==0" type="button" ngbDropdownToggle class="dropdown-toggle-split btn btn-primary"><span
                                    class="sr-only">Toggle Dropdown</span></button>
                            <div ngbDropdownMenu>
                                <button [disabled]="profile.etat_produit_adhesion==1" class="dropdown-item"
                                        (click)="retrait_produit_adhesion(profile, content, content2)">
                                    Retirer produit d'adhésion
                                </button>
                                <button [disabled]="profile.etat_trading==0" class="dropdown-item"
                                        (click)="retrait_produit_trading(profile, content, content2)">
                                    Retirer produit de trading
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <div class="row mt-5">
                    <div class="col-12 divider mt-2"></div>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Retrait de produit</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="retraitProduitForm" (ngSubmit)="newRetraitProduit(content)">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="id_produit">Produits</label>
                        <select formControlName="id_produit" id="id_produit" class="form-control">
                            <option *ngFor="let produit of produits"
                                    (click)="produitChange(produit)"
                                    [value]="produit.id">{{produit.designation}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="position-relative form-group"><label for="quantite">Quantite</label>
                        <input #qte (keyup)="checkQuantite(qte)"
                               formControlName="quantite" id="quantite" type="number" min="1" [max]="stock_disponible"
                               class="form-control">
                        <span class="form-text" style="color: red;">{{qte_message}}
                        </span>

                    </div>
                    <span class="form-text" style="color: royalblue;">Stock Disponible: {{stock_disponible}}</span>
                </div>
            </div>
            <button class="mt-2 btn btn-primary float-right" type="submit" [disabled]="retraitProduitForm.invalid">
                Enregistrer
            </button>
        </form>
    </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{message}} </h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
    </div>
</ng-template>
