<!--div class="card">
    <div class="widget-numbers text-success float-right ">Total du jour: <span>${{synthese.total_retrait_today}}</span></div>
    <select class="float-right mr-4" id="exampleSelect">
        <option value="" [disabled]="true">Trier par</option>
        <option value="today">Aujourd'hui</option>
        <option value="effectue">Effectué</option>
        <option value="attente">En attente</option>
    </select>
</div-->
<div class="main-card mb-3 card no-shadow rm-border bg-transparent widget-chart">
    <div class="card-body">
        <h5 class="card-title">
            <strong>LISTE DE RETRAITS</strong>
        </h5>
        <div class="divider"></div>
        <div class="row">
            <div class="col-12" style="text-align: center">
                <div class="search-wrapper" [class.active]="true">
                    <div class="input-holder">
                        <input type="text" #input_id_client placeholder="Entrez un identifiant du client.." class="search-input">
                        <button (click)="rechercher(input_id_client, content)"  class="search-icon"><span></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>


<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <strong>Total du jour: <span class="text-success">${{synthese.total_retrait_today}}</span></strong>
            <button (click)="refresh()"
                    class="btn-icon btn-icon-only  btn btn-outline-success float-right">
                <i class="pe-7s-refresh-2 btn-icon-wrapper" aria-hidden="true"></i>
            </button>
            <div class="float-right mr-5"></div>
        </div>
    </div>
    <div *ngIf="chargement" class="mt-5 mb-5" style="text-align: center;">
        <img src="./assets/images/gifs/en_cours.gif" width="100px" border="0">
        <br>
        Chargement de données en cours..
    </div>
    <div *ngIf="!chargement" class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">ID Client</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Prenom</th>
                <th class="text-center">Profile</th>
                <th class="text-center">Montant</th>
                <th class="text-center">Date de Retrait</th>
                <th class="text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let retrait of retraits; let i = index">
                <td class="text-center text-muted" style="width: 80px;">{{i + 1}}</td>
                <td class="text-center">{{retrait.identifiant}}</td>
                <td class="text-center">{{retrait.nom}}</td>
                <td class="text-center">{{retrait.prenom}}</td>
                <td class="text-center">{{retrait.username}}</td>
                <td class="text-center">{{retrait.montant}}</td>
                <td class="text-center">{{retrait.date}}</td>
                <td class="text-center">
                    <div [class]="'badge badge-pill' + ((retrait.etat==1) ? ' badge-success' : ((retrait.etat==2) ? ' badge-danger' : ' badge-warning'))">{{retrait.etat == 1 ? 'effectué' : retrait.etat == 2 ? 'annulé' : 'en attente'}}</div>
                </td>
            </tr>
            <div class="row mt-5">
                <div class="col-12 divider mt-2"></div>
            </div>
            </tbody>
        </table>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{message}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>
